html, body {
    padding: 0px;
    margin:0px;
    overflow: hidden;
}

.ianjk {
    color:white;
}

.underline {
    border-color:white;
}

canvas {
    width:100vw;
    height:100vh;
}