.header {
    height: 120px;
    width:100vw;
    border-width:2px;
    font: 1em/1.4  'helvetica neue','Segoe UI',roboto;
    line-height: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
} 

.innerheader {
    max-width: 720px;
    width:90%;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    color:#8e8e8e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.headerlink {
    padding: 20px;
    text-decoration: none;
    color:#bbbbbb;
}

.headerlink a {
    text-decoration: none;
    color:inherit;
}

.content {
    width: 760px;
    font: 1.1em/1.5 'Georgia', 'helvetica neue','Segoe UI',roboto;
    font-family: OpenSans;
    color: #202020;
    animation: fadein .8s;
    animation-timing-function: ease;
    animation-delay: .10s;
    animation-fill-mode:forwards;
    opacity: 0;
}

/* Body text stuff */
.contentcontainer {
    display: flex;
    justify-content: center;
    width:100vw;
    overflow:hidden;
    box-sizing:border-box;
}

p {
    margin:0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer {
    padding-bottom: 100px;
}

.footerdate {
    opacity: .4;
    font-size: .9em;
    float:left;
    text-align: center;
    width:100%;
}

.footerauthor {
    line-height: 130px;
    text-align: center;
}

figure {
    margin:0px;
    padding-top:30px;
    padding-bottom: 30px;
    line-height: 0;
    left:0px;
    width:100%;
    min-height:300px;
    text-align: center;
}

figure img {
    border-bottom-style: solid;
    border-color: #f2f2f2;
    border-width:2px;
    width:auto;
    max-height:700px;
    max-width: 100%;
}

@media only screen and (max-width: 1000px) { 
    .content {
        width:100%;
    }

    .contentcontainer {
        padding-left:7vw;
        padding-right:7vw;
    }

    figure img {
        width:100vw;
        max-width:none;
        max-height: none;
        margin-left: -7vw;
    }

    body {
        font-size: 40px;
    }
}

figcaption {
    text-align:center;
    font-size:.8em;
    padding:20px;
    padding-right: 0px;
    opacity: .7;
    line-height: 1.4em;
}

body {
    margin:0px;
    width:100%;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    overflow-x:hidden;
}

.left {
    text-align:left;
    width:100%;
    float:left;
}

.right {
    text-align:right;
    width:100%;
    float:right;
}
.articlepreviews {
    display: flex;
    text-align: right;
    height:150px;
}